@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex">
    <div style="background-color: #007bff;" class="me-5 p-2 rounded w-25">
        <h1 class="bg-white p-2 rounded">Projects</h1>
        <hr>

        <div class="overflow-y">
            @foreach (var entry in Model)
            {
                <form asp-action="ProjectData" asp-controller="Project" asp-route-projectId="@entry.ProjectId" class="btn bg-white text-start rounded mb-2 w-100">
                    <button class=" text-start btn fs-5 w-100">@entry.ProjectName</button>
                </form>
            }
        </div>
    </div>

    <div style="background-color: #f8f9fa;" class="text-center bg-white rounded p-4 w-75">
        @if (ViewBag.singleProject != null)
        {
            <h2 style="color: #6f42c1;" class="d-flex justify-content-start">@ViewBag.ProjectName</h2>
            <hr>
                
            <div style="background-color: #007bff;" class="p-3 rounded">
                <div style="background-color: #f8f9fa;" class="rounded p-2 mb-3">
                    <h1 class="d-flex justify-content-start">Rename Project</h1>

                    <div class="d-flex justify-content-between ps-3 pe-3">
                        <p>The action will let you rename the @ViewBag.ProjectName project</p>
                        <button class="btn btn-secondary p-3">Rename</button>
                    </div>
                </div>

                <div style="background-color: #f8f9fa;" class="rounded p-2">
                    <h1 class="d-flex justify-content-start text-danger">Delete Project</h1>

                    <div class="d-flex justify-content-between ps-3 pe-3">
                        <p>The action will let you <span class="text-danger">DELETE</span> the @ViewBag.ProjectName project!</p>
                        <button class="btn btn-danger p-3">Delete</button>
                    </div>
            </div>
            </div>
        }
        else
        {
            <h2 style="color: #6f42c1;" class="d-flex justify-content-start">Select a Project</h2>
            <hr>
        }
    </div>
</div>